<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msh.android.dictionary.lite">

    <application>
        <!-- If you need access to files by URI then use this provider -->
        <provider
            android:name="com.msh.common.android.dictionary.xapk.ExpansionFileProvider"
            android:authorities="com.msh.android.dictionary.lite.ExpansionFileProvider"
            android:exported="false">
            <meta-data
                android:name="mainVersion"
                android:value="16" />
        </provider>

    </application>
</manifest>
