<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msh.android.dictionary">

    <application>
        <provider
            android:name="com.msh.common.android.dictionary.xapk.ExpansionFileProvider"
            android:authorities="com.msh.android.dictionary.ExpansionFileProvider"
            android:exported="false">
            <meta-data
                android:name="mainVersion"
                android:value="17" />
        </provider>
    </application>

</manifest>
